---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon';
import PlaySong from '../../components/PlaySong.svelte';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  return (await getCollection('2025-songs')).map(entry => {
    const slug = entry.slug;
    const song = entry.data.title;
    return {params: { song: slug }, props: { entry, song, slug }}
  });
}
const album = '2025 Songs';
const { entry, song, slug } = Astro.props;
const { Content } = await entry.render();
---
<Layout>
  <main class="prose max-w-4xl mx-auto p-2 pt-[5rem] 2xl:pt-[7rem]">
    <a href="/2025-songs" class="text-black drop-shadow-none">
      Back to 2025 songs
    </a>
    <div class="p-4 text-white text-center" style={{textShadow: "0.1em 0.1em 0.3rem black"}}>
      <h1 class="text-white">{song}</h1>
      <div class="inline-block">
        <PlaySong {album} {song} client:load>
          <Icon name="ic:baseline-play-circle" class="w-6 h-6" slot="play" />
          <Icon name="ic:baseline-pause-circle" class="w-6 h-6" slot="pause" />
        </PlaySong>
      </div>
      <a href={`https://github.com/sethcalebweeks/candlestandmusic.com/raw/refs/heads/main/public/music/2025-songs/${slug}.mp3`} class="border-2 p-2 m-2 border-white inline-flex items-center justify-center hover:outline outline-2 outline-white text-white no-underline">
        <Icon name="ri:arrow-down-circle-fill" class="h-6 w-6 inline-block mr-2" />
        Download song
      </a>
      <Content />
    </div>
  </main>
</Layout>