---
import Layout from '../../layouts/Layout.astro';
import mercifulAndMighty from '../../images/Merciful & Mighty - Text.jpg';
---

<Layout title="Merciful & Mighty">
	<main>
	</main>
</Layout>

<style>
	main {
		background: url('images/Merciful & MIghty - Text.jpg') no-repeat center center fixed;
    background-size: contain;
    display: flex;
  }
</style>
