---
import Layout from '../../layouts/Layout.astro';
import mercifulAndMighty from '../../images/merciful-&-mighty.jpg';
---

<Layout title="Merciful & Mighty">
	<main>
    <img src={mercifulAndMighty.src} alt="Merciful & Mighty" class="w-[25%] h-auto" />
	</main>
</Layout>

<style>
</style>
