---
import Layout from '../layouts/Layout.astro';
// import Counter from '../components/Counter.svelte';
---

<Layout>
	<main class="pt-[6rem] 2xl:pt-[8rem]">
    How'd you get here?
	</main>
</Layout>
