---
import Layout from '../layouts/Layout.astro';
import mercifulAndMighty from '../images/merciful-&-mighty.jpg';
---

<Layout>
	<main>
    <h1 class="block text-center text-4xl">Discography</h1>
    <div class="w-full h-full grid grid-cols-3 gap-4 p-4">
      <a href="/merciful&mighty">
        <img src={mercifulAndMighty.src} alt="Merciful & Mighty" />
      </a>
    </div>
	</main>
</Layout>

<style>
</style>
