---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="overflow-x-hidden">
    <form name="comments" method="POST" netlify>
      <p>
        <label>Name (optional): <input type="text" name="name" /></label>
      </p>
      <p>
        <label>Comment: <textarea name="comment"></textarea></label>
      </p>
      <button type="submit">Add comment</button>
    </form>    
	</main>
</Layout>