---
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav></nav>
  <main></main>
</body>
</html>

<style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
  }
  nav {
    height: 80px;
    width: 100%;
    background: grey;
    position: fixed;
  }
  main {
    height: 2000px;
    width: 100%;
    background: linear-gradient(180deg, white 0%, black 100%);
  }
</style>