---
import { Icon } from 'astro-icon';

const links = [
  'spotify',
  'applemusic',
  'youtube',
  'amazon',
]
---

<div>
  <slot />
  <ul class="flex flex-row justify-center">
    {links.map(link => (
      <li class="my-1">
        <a href={Astro.props[link]}>
          <Icon name={`simple-icons:${link}`} class="h-8 m-2 opacity-60 hover:opacity-100 transition-all" />
        </a>
      </li>
    ))}
  </ul>
</div>