---
import { ViewTransitions } from 'astro:transitions';
import AudioPlayer from '../components/AudioPlayer.svelte';
import { Icon } from 'astro-icon';

import blurredMercifulAndMighty from '../images/blurred-merciful-and-mighty.jpeg';

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="2xl:text-[20px]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <ViewTransitions />
		<title>{(title ? `${title} | ` : "") + "Candlestand Music"}</title>
	</head>
	<body class="font-serif overflow-x-hidden bg-gray-300 bg-cover bg-fixed flex flex-col" style={{backgroundImage: `url(${blurredMercifulAndMighty.src})`}}>
    <nav class="fixed top-0 z-10 h-16 2xl:h-20 w-full backdrop-blur-xl bg-black bg-opacity-50 flex flex-wrap justify-center">
      <div class="h-full w-full m-auto max-w-6xl flex flex-wrap px-4 content-center text-white">
        <h2 class="text-2xl"><a href="/">Candlestand Music</a></h2>
        <div class="flex items-center mx-auto sm:mr-0">
          <!-- <AudioPlayer client:load>
            <Icon name="ic:baseline-play-circle" class="w-6 h-6" slot="play" />
            <Icon name="ic:baseline-pause-circle" class="w-6 h-6" slot="pause" />
          </AudioPlayer> -->
          <!-- <span class="marquee">
            Song long text to test out the marquee feature
          </span> -->
        </div>
      </div>
    </nav>
    <div class="max-w-6xl m-auto w-full">
      <slot />
    </div>
    <footer class="w-full bg-black bg-opacity-50">
      <div class="max-w-6xl p-4 text-center text-white m-auto">
        <a href="mailto:noah@candlestandmusic.com">Contact</a>
        | <span>&copy; 2023 Candlestand Music</span>
      </div>
    </footer>
	</body>
</html>

<style is:global>
	html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  @keyframes marquee {
    100% {
      transform: translate(0, 0);
    }
  }
  .marquee {
    animation: marquee linear infinite;
    transform: translate(200%, 0);
    animation-duration: 5s;
  }
</style>
