---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <ViewTransitions />
		<title>{(title ? `${title} | ` : "") + "Candlestand Music"}</title>
	</head>
	<body class="flex flex-col font-serif bg-gray-400">
    <nav class="block w-full p-4 flex flex-wrap justify-center bg-gray-700 text-white font-semibold">
      <h2 class="text-2xl"><a href="/">Candlestand Music</a></h2>
      <ul class="flex items-center mx-auto sm:mr-0">
        <li class="px-4"><a href="/about">About</a></li>
        <li class="px-4">Contact</li>
      </ul>
    </nav>
		<slot />
	</body>
</html>

<style is:global>
	html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
</style>
